extends ../layout

block content
    .container
        .row.justify-content-center
            .col-md-6
                h1.mb-4 Edit Driver
                form(action=`/drivers/${driver._id}/edit`, method="post")
                    .form-group
                        label(for="name") Name:
                        input.form-control(type="text", id="name", name="name", value=driver.name)
                    .form-group
                        label(for="age") Age:
                        input.form-control(type="number", id="age", name="age", value=driver.age)
                    .form-group
                        label(for="nationality") Nationality:
                        input.form-control(type="text", id="nationality", name="nationality", value=driver.nationality)
                    .form-group
                        label(for="team") Team:
                        select.form-control(id="team", name="team")
                            option(value="", selected) No Team
                            each team in teams
                                if driver.team && team._id.toString() === driver.team._id.toString()
                                    option(value=team._id, selected)= team.name
                                else
                                    option(value=team._id)= team.name
                    button.btn.btn-primary(type="submit") Update
